<h1>Hello contacts</h1>
<form action="/home/info" metod="POST">

  <div class="form-group">
    <label>your name</label><br/>
    <input name="client[name]" type="text" class="form-control" placeholder="Ваше имя" value="">
  </div>
  <br/>
  <div class="form-group">
    <label>your phone</label><br/>
    <input name="client[phone]" type="text" class="form-control" placeholder="Ваш телефон" value="">
  </div>
  <br/>
  <div class="form-group">
    <label>your email</label><br/>
    <input  name="client[email]" type="text" class="form-control" placeholder="enter your email">
  </div>
  <br/>
  <div class="form-group">
    <label>your message</label><br/>
    <input name="client[message]" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
