<% unless current_user == nil %>
<h3>Hello <%= current_user.username.capitalize %>!!</h3>
  <p>We are glad to meet you here on our website!!!!!</p>
  <% end %>
<!--<p>Find me in app/views/home/index.html.erb</p>-->
